
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{
    display: flex;
    justify-content: space-around;
}

.titulos{
    display: flex;
    justify-content: center;
    
}

h1{
    display: inline-block;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    width: 300px;
    text-align: center;

} 

